/* Global Style */
html{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rubik', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Showcase Section */
.showcase_text{
    flex-direction: column;
    justify-content: center;
}
.showcase_pic{
    padding-left: 10%;
}
.showcase_pic img{
    width: 100%;
}
.side_border{
    border-left: 6px solid crimson;
    padding-left: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* Mission Section */
.mission_item{
    margin-right: 30px; 
    padding:  26px 26px 45px 26px;
    border-radius: 10px;
}
.mission_item img{
    width: 50%;
}
.mission_item h2{
    margin-top: 15px;
}
.mission_item p{
    margin-top: 30px;
    font-size: 18px;
    color: rgb(56, 55, 55);
    font-weight: 300;
}

/* Develop Section */
.develop > .container{
    background-image: url(../images/shapes/shape-5.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 160px;
}
.develop_pic img{
    width: 100%;
}
.develop_text{
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.develop_text h1{
    font-size: 46px;
    margin-bottom: 6px;
}

/* Community Section */
.community {
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 82% 91%;
    background-size: 160px;
}
.community_pic img{
    width: 100%;
}
.community_text{
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}
.community_text h1{
    font-size: 46px;
    margin-bottom: 6px;
}

/* Contact Me Section */
.contact_me{}
.map{}
.form{
    margin-left: 90px;
}
.form label{
    font-size: 20px;
}
.form input{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}
.form textarea{
    padding: 10px;
    font-size: 18px;
    display: block;
}

/* Footer Section */
footer{
    background-color: black;
    color: white;
    padding: 4% 0;
}
footer h1{
    font-size: 46px;
    font-family: 'Courgette', cursive;
}
footer > h1 > span{
    color: crimson;
}
footer p{
    margin-top: 26px;
    font-size: 22px;
    font-weight: 300;
}